* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #111827;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    background: #1e293b;
    padding: 30px;
    border-radius: 15px;

    display: flex;
    gap: 10px;

    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
}

input {
    width: 300px;
    padding: 12px 15px;

    border: none;
    outline: none;
    border-radius: 8px;

    font-size: 16px;
    color: #111;
}

input::placeholder {
    color: #777;
}

button {
    padding: 12px 20px;

    border: none;
    border-radius: 8px;

    background: #6366f1;
    color: white;

    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background: #4f46e5;
}